{% extends '::layout.html.twig' %}

{% block sidebar %}
    <h3>Site</h3>
    <ul class="toggle">
        <li class="icn_categories"><a href="{{ path('menu_edit') }}">Menus</a></li>
        <li class="icn_folder"><a href="{{ path('page_edit') }}">Pages</a></li>
        <li class="icn_new_article"><a href="{{ path('new_page') }}">Add New Page</a></li>
    </ul>
{% endblock sidebar %}
