{% extends '::user.html.twig' %}

{% block breadcrumb %}
<a class="current">Add New Page</a>
{% endblock %}

{% block body %}
<article class="module width_full">
      <header><h3>Add new page</h3></header>
        <form method="post" action="{{ path('create_page') }}">
        <div class="module_content">
                Page: <input type="text" size="12" name="p_name">.html<br/><br/>
                Choose template: 
                <select name="template">
                    <option value="0">Choose template</option>
                    {%for template in templates%}
                    <option value="{{template.id}}">{{template.name}}</option>
                    {%endfor%}
                </select>
        </div>
        <footer>
            <div class="submit_link">
                <input type="submit" value="Create" class="alt_btn" />
                or <a href="{{ path('list_page') }}">Cancel</a>
            </div>
        </footer> 
     </form>
</article>    
{% endblock %}