{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}{{ 'layout.reset_request'|trans }}{% endblock %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock fos_user_content %}
