<article class="module width_quarter">
    <header><h3>Help</h3></header>
        <div class="module_content">
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
        </div>
</article>
