{% extends '::user.html.twig' %}

{% block body %}
<h1>Pagina Menu</h1>
<form action="#" method="post" >
    Menu Name: <input type="text" name="m_name">
    
    <input type="submit" value="Create" />

</form>
<br/><br/>
<input type="submit" Value="Add Button">
{% endblock %}