{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}{{ 'layout.register'|trans }}{% endblock %}

{% block fos_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock fos_user_content %}
