{% extends '::public.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
<form id="form2">
    <label><span class="text-form">Name:</span><input type="text"></label>
    <label><span class="text-form">E-mail:</span><input type="text"></label>
    <label><span class="text-form">Phone:</span><input type="text"></label>
    <div class="text-form">Message:</div><textarea></textarea></label>
    <a class="btn">Send</a>
</form>
<br/>
<br/>
{% endblock body %}
