{% extends '::user.html.twig' %}

{% block body %}
<div>
<h1>Create new button</h1>
<form action="#" method="post" >
    <table>
    <tr><td>Button name:</td><td><input type="text" name="b_name"> (Assign the name that will appear in the button)</td></tr>
    <tr><td>Button url: </td><td><input type="text" name="b_url"> (Assign the link for the button)</td></tr>
    <tr><td>Button weight:</td><td> <input type="text" name="b_weigth"> (Assign button's weight - 1 is first, 2 is second, ...)</td></tr>
    <tr><td></td><td><input type="submit" value="Create" /><input type="reset" value="Reset"></td></tr>        
    </table>   
</form>
</div>
{% endblock %}